@import "tailwindcss";

:root {
    --foreground-rgb: 17, 24, 39;
    --background-start-rgb: 249, 250, 251;
    --background-end-rgb: 255, 255, 255;
    --accent-orange: #f97316;
    --accent-pink: #ec4899;
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
    font-family: 'Inter', sans-serif;
}



.glass-morphism {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}